<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show All Companies </title>
</head>
<body>
<a href="/company/add">Add new company</a>|
<table border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>employees size</th>
        <th>address</th>

    </tr>
    <tr th:each="company:${companies}">
        <td th:text="${company.id}" }>
        <td th:text="${company.name}" }>
        <td th:text="${company.employeesSize}" }>
        <td th:text="${company.address}" }>

    </tr>

</table>

</body>
</html>